.VerifyLayout {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../../../assets/bg-horizontal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0px;
}